PORT=3004
JWT_SECRET=change-me
DATABASE_HOST=localhost
DATABASE_PORT=55432
DATABASE_NAME=offerly
DATABASE_USER=offerly
DATABASE_PASSWORD=offerly-local-password
KAFKA_BROKERS=localhost:9094
APP_BASE_URL=http://localhost:3001
SWAGGER_ENABLED=true
